body {
  margin: 0;
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
.header-menu {
  display: flex;
  gap: 20px;
}
.header-menu a {
  display: inline-block;
  color: #ffffff;
  padding: 16px 0px;
}
