body {
  margin: 0;
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
  /* padding: 20px 0;
  text-align: center; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
}
.header-menu {
  display: flex;
  gap: 20px;
}
