body {
  margin: 0;
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}
.header-menu {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}
.header-menu a {
  display: inline-block;
  color: #ffffff;
  padding: 16px 0px;
  position: relative;
}

@media (max-width: 800px) {
  .header-menu a::after {
    display: none;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu {
    flex-direction: column;
    border-radius: 4px;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 10px;
    padding: 10px 14px;
    font-size: 14px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
