.botao {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbb00 25%, #a66e00 89%);
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1;
  color: #140900;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0, 1);
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}
.botao :hover {
  background: linear-gradient(#e5a40b 25%, #a66e00 89%);
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
