body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1,
ul,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
